/*@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';*/

.claudia{
  background-color: #f6f3f2;
  color:#00185a;
}

h2{
  color:#002f96;
}

a{
  color:#0353dc;
}

nav{
  background-color:#f4f7f9;
}

.container{
  padding:.5rem;
}

.footery {
  display:flex;
  justify-content:space-between;
  background: #f4f7f9;
  padding: 40px;
  box-sizing: border-box;
  position: fixed;
  bottom:0;
  left:0;
  width: 100%;
}

.footery img {
  height: 50px;
}

@media screen and (min-width: 480px) {
  .claudia {
    margin-left:50px
  }
}
